@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Anton', sans-serif;
}

@layer base {
  :root {
    --background: 4 6% 96%;
    --foreground: 4 6% 10%;
    --card: 4 6% 96%;
    --card-foreground: 4 6% 10%;
    --popover: 4 6% 96%;
    --popover-foreground: 4 6% 10%;
    --primary: 3 94% 53%;
    --primary-foreground: 4 6% 98%;
    --secondary: 4 6% 90%;
    --secondary-foreground: 4 6% 10%;
    --muted: 4 6% 90%;
    --muted-foreground: 4 6% 45%;
    --accent: 244 85% 61%;
    --accent-foreground: 4 6% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 4 6% 98%;
    --border: 4 6% 84%;
    --input: 4 6% 84%;
    --ring: 3 94% 53%;
    --radius: 0.5rem;
    --chart-1: 3 94% 53%;
    --chart-2: 244 85% 61%;
    --chart-3: 43 85% 48%;
    --chart-4: 210 40% 50%;
    --chart-5: 210 40% 70%;
  }

  .dark {
    --background: 4 6% 10%;
    --foreground: 4 6% 98%;
    --card: 4 6% 10%;
    --card-foreground: 4 6% 98%;
    --popover: 4 6% 10%;
    --popover-foreground: 4 6% 98%;
    --primary: 3 94% 53%;
    --primary-foreground: 4 6% 98%;
    --secondary: 4 6% 17%;
    --secondary-foreground: 4 6% 98%;
    --muted: 4 6% 17%;
    --muted-foreground: 4 6% 63%;
    --accent: 244 85% 61%;
    --accent-foreground: 4 6% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 4 6% 98%;
    --border: 4 6% 17%;
    --input: 4 6% 17%;
    --ring: 3 94% 53%;
    --chart-1: 3 94% 53%;
    --chart-2: 244 85% 61%;
    --chart-3: 43 85% 55%;
    --chart-4: 210 40% 60%;
    --chart-5: 210 40% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Space Grotesk', sans-serif;
    image-rendering: pixelated;
  }
}

.font-headline {
    font-family: "Press Start 2P", cursive;
}
